@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*font-family: "Work Sans", serif;*/
*{
 margin: 0px;
 padding: 0px;   
}
#mahiya{
    background: linear-gradient(0.00deg, rgb(9, 9, 9) 2.884%,rgba(16, 16, 16, 0) 101.034%
    ),
    url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    height: 919px;
    background-size: cover;
    background-position: center;
    color: red;
    display: flex;
    justify-content: center;
     align-items: center;
    
   
}
#mahiya .heroin-content{
    width: 1083px;
    /* margin-left: auto; 
    margin-left: auto;
     margin-left: auto; */
     margin: 0 auto;
    
     
}
#mahiya .heroin-content .subtitle{
    opacity: 0.8;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}
#mahiya .heroin-content .title{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 64px;
font-weight: 700;
line-height: 80px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
}
#mahiya .heroin-content .description{
    opacity: 0.7;
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 32px;
}
.btn{
    padding: 21px 32px 21px 32px;
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;
background: rgb(82, 195, 3);
cursor: pointer;
}

.btn-btn{
    text-align: center;
}

#card-box{
    width: 908px;
    margin: 114px auto;
}
#card-box .info{
   
}

#card-box.title {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
}
#card-box .subtitle{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
}
.card-container{
   margin-top: 33px;
   display: flex;
   justify-content: space-between;
    gap: 20;
    font-family: Work Sans;
}
.card{
    width: 288px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card .image-box{
    width: 288px;
}
.card .image-box img{
    width: 100%;
}
.card .shop{
    text-align: center;
    background-color: aqua;
    padding: 8px 20px 8px 20px;
    background: rgba(82, 195, 3, 0.15);
}

#new-one{
    align-items: center;
    display: flex;
   justify-content: space-between ;
}  
#new-one .chicken{
    width: 50%;
    object-fit: cover;
    align-items: center;
  

} 
.shobai{
    display: flex;       /*purata eksthe*/      
     margin: 0 auto;
}

.cardi{
    width: 50%;
    display: flex;
    flex-direction: column ;
    justify-content: center;         /* only card */
    align-items: center;
    padding: 20px;
    text-align: center;
    background-color: white;
}

#new-one .shobai .title{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 40px;
  font-weight: 700;                  /* prothom text */
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    
}
#new-one .shobai .cardi .des{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;          /*  porer choto tect<p>*/
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 24px ;
    margin-top:24px ;
    color:#333;
    opacity: 0.6;  
}

#new-one .web{
   display: flex;                 /*  4ta website ek sthe*/
   justify-content: center;
   gap: 32px;
}
#new-one .follow{  
    font-family: Arial, Helvetica, sans-serif;
   margin-top: 48px;
    margin-bottom: 32px;                  /* button type*/
   box-sizing: border-box;
border-bottom: 1px solid rgba(16, 16, 16, 0.2);
 border-top: 1px solid rgba(16, 16, 16, 0.2); 
 background-color:white;
 text-align: center;
 padding: 24px;
 font-weight: bold;
 color:rgb(16, 16, 16);
 opacity: 0.7;
}





